package pages

templ Layout(title, content) {
    <html>
        <head>
            <title>{title}</title>
        </head>
        <body>
            <div id="content">
                {content}
            </div>
        </body>
    </html>
  }
